* {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background-color: black;

}

header {
    max-height: 20%;
    background-image: url(./AstronmyTitlepicture.jpeg);
    background-repeat: repeat-y;
    background-position: center;
    padding: 50px;

}
#name {
    font-size: 10px;
}
hr {
    margin: 20px;
    width: 100%;
}
h1 {
    margin: 20px;
    justify-content: center;
    width: 100%;
    color: #fff;
    
}
.directory {
    max-width: 30%;
    max-height: 30%;
    border: 2px solid white;
    background-image: url(./backgroundimg.jpeg);
    border-bottom: 1px solid white;
   
}
.directory > ul {
    list-style-type: none;
}
.directory > ul >li {
    margin: 8px auto;
}
.directory > h2 {
    color: white;
    margin: 10px auto;
}
.useful-links {
    max-width: 30%;
    border: 2px solid white;
    background-image: url(./backgroundimg.jpeg);
    border-top: 1px solid white;
   
}
.useful-links  > ul {
    list-style-type: none;
}
.useful-links  > ul > li {
    
    margin: 8px auto;
}
.useful-links  > h2 {
    color: white;
    margin: 10px auto;
}
[href] {
    color: white;
}
[href]:hover{
    color: rgb(89, 146, 43);
}
h2 {
    margin: 50px auto;
}
h3 h2 {
    margin: 30px auto;
}

p {
    max-width: 50%;
    margin: 10px auto;
}

#rubric {
    max-height: 30%;
    max-width: 30%;
}
